#setup {
  section {
    padding: 5%;

    .title {
      margin-bottom: 12px;
    }
  }

  input-radio-group {
    button {
      margin: 18px auto;
    }
  }

  .step-buttons {
    button {
      margin: 18px;
    }
  }
}